*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #e2e8f0;
}
.container{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.complete{
    text-decoration: line-through;
}
.header{
    background-color: #512fae;
    color: #e2e8f0;
    padding: 1rem;
    box-shadow: 4px 9px 9px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}
.navbar-container{
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
}
.todoUn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e2e8f0;
    color: #512fae;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoCounter{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}
.filter-todo{
    margin-bottom: 2rem;
    width: 300px;
}